PORT = 5000
MONGO_URI = your_mongo_uri
# CLIENT_ID_FB = 328929095563685 - Currently not in use
# CLIENT_SECRET_FB = aadffb4fabb750256dc95059ae1fe82b - Currently not in use
JWT_SECRET = a_secret_phrase