PORT=5000
MONGO_URI=mongodb://localhost:27017/Affiliater
JWT_SECRET=1238dd494cf1def1935b60d2953af80138ae021b4bbde7aced8d63a7322663b4df01d5
JWT_EXPIRE=30min
WEBPAGE_URL=http://localhost:3000
TELEGRAM_BOT_TOKEN=telegram_bot_token
EMAIL_SERVICE;
EMAIL_USERNAME;
EMAIL_PASSWORD;
EMAIL_FROM;
# shotener bearer link is set in helpers/shotener.js